# Global ignores
.DS_Store
Thumbs.db
node_modules/
.idea/
.vscode/
*.log
*.bak
.env
*.pyc
__pycache__/

# Gitignore for backend (Django)
/auth-project/auth_project/__pycache__/
/auth-project/users/__pycache__/
/auth-project/*.sqlite3
/auth-project/db.sqlite3
/auth-project/media/
/auth-project/static/
/auth-project/.env
/auth-project/*.log
/auth-project/*.pyc
/auth-project/__pycache__/

# Gitignore for frontend (Angular)
/auth-frontend/node_modules/
/auth-frontend/dist/
/auth-frontend/.angular/cache/
/auth-frontend/.env
/auth-frontend/*.log
/auth-frontend/src/assets/*.bak

# Gitignore for specific build or IDE files
/auth-project/.mypy_cache/
/auth-project/.pytest_cache/
/auth-frontend/.npm/
/auth-frontend/.cache/
