# Global ignores
.DS_Store
Thumbs.db
node_modules/
.idea/
.vscode/
*.log
*.bak
.env
*.pyc
__pycache__/

# Gitignore for backend (Django)
/auth_project/auth_project/__pycache__/
/auth_project/users/__pycache__/
/auth_project/*.sqlite3
/auth_project/db.sqlite3
/auth_project/media/
/auth_project/static/
/auth_project/.env
/auth_project/*.log
/auth_project/*.pyc
/auth_project/__pycache__/

# Gitignore for frontend (Angular)
/auth-frontend/node_modules/
/auth-frontend/dist/
/auth-frontend/.angular/cache/
/auth-frontend/.env
/auth-frontend/*.log
/auth-frontend/src/assets/*.bak

# Gitignore for specific build or IDE files
/auth_project/.mypy_cache/
/auth_project/.pytest_cache/
/auth-frontend/.npm/
/auth-frontend/.cache/
