<ng-container>
  <h1>Registration</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div class="input-group">
      <label for="username">Username: </label>
      <input id="username" formControlName="username" type="text"/>
      <span *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched" class="input-error">
        Username required
      </span>
    </div>

    <div class="input-group">
      <label for="password">Password: </label>
      <input id="password" formControlName="password" type="password" />
      <span *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="input-error">
        Password required
      </span>
    </div>

    <button type="submit" [disabled]="registrationForm.invalid">Register</button>

  </form>
  <button (click)="goToPage('home')">Go Back</button>
</ng-container>
